$primary-color: #eeeff1;
$primary-light-color: #ffffff;
$primary-dark-color: #e7e9ea;

$secondary-color: #1d1f1f;
$secondary-light-color: #323333;
$secondary-dark-color: #050606;

$box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.13);

$bp--largest: 1400px;
$bp--large: 1000px;
$bp--medium: 768px;
$bp--small: 600px;
$bp--smallest: 400px;
